includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
        - tests/app
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
