parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Database\\Query\\Builder\:\:getModel\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Scopes/PublishingScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Database\\Query\\Builder\:\:withDrafts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Scopes/PublishingScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Database\\Query\\Builder\:\:withoutDrafts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Scopes/PublishingScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Database\\Query\\Builder\:\:withoutGlobalScope\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Scopes/PublishingScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getQualifiedIsPublishedColumn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Scopes/PublishingScope.php

		-
			message: '#^Access to an undefined property Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\:\:\$drafts\.$#'
			identifier: property.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to an undefined property Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\:\:\$is_current\.$#'
			identifier: property.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to an undefined property Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\:\:\$is_published\.$#'
			identifier: property.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:IS_CURRENT\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:IS_PUBLISHED\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:PUBLISHED_AT\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:PUBLISHER_ID\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:PUBLISHER_TYPE\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Access to undefined constant static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\:\:UUID\.$#'
			identifier: classConstant.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Database\\Query\\Builder\:\:withDrafts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:generateUuid\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getIsCurrentColumn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getIsPublishedColumn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:newRevision\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:publish\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:revisions\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setLive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:setPublisher\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:current\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:onlyDrafts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:withDrafts\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\<static\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\), \$this\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\)\>\:\:withDrafts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Oddvalue\\LaravelDrafts\\Tests\\app\\Models\\Post\) and ''draftableRelations'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: tests/app/Models/Post.php

		-
			message: '#^Using nullsafe method call on non\-nullable type mixed\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: tests/app/Models/Post.php
